* {
  margin: 0px;
}

body {
  background-color: #f0f0f0;
}

.newslinkdiv{
  width: 600px;
  height: 150px;
  margin: 25px 0px;
  background-color: white;
  border: 1px solid grey;
  overflow: hidden;
}

.newslinkdiv img{
  width: 200px;
  float: left;
}

.newslinkdiv div{
  float: left;
  width: 400px;
  /* overflow: hidden; */
}

.newslinkdiv h3 {

}
